#set($layout = "layout/teacher_layout.vm")
#set($pageTitle = "安全助手 － 点线")
#set($scripts = ["teacher/my-safe.js"])
<script>
    window.currentPage = "my-safe";
</script>

    <div class="dx-conwrap">

        <div class="dx-toptab">
            <ul>
                <li class="active"><a href="${contextPath}${servletPath}/teacher/safe">安全助手</a></li>
            </ul>
        </div>
        #if($joinclass.size()>0)

            <div class="selclass">
                <label>选择班级：</label>
                <select class="J_changeClass">
                    #foreach($class in $joinclass)
                        <option #if($selclsss==$class.id) selected #end  value="$!class.id">$!class.name</option>
                    #end
                </select>
            </div>
        #end

        <table class="table table-border table-hover student-list">
            <thead>
            <tr>
                <th style="width:120px;">类型</th>
                <th style="width:150px;">发件人</th>
                <th>内容</th>
                <th style="width: 150px;">时间</th>
            </tr>
            </thead>
            <tbody>
                #foreach($item in $pagingInfo.list)
                <tr>
                    <td>
                        #if($!item.messageType=="1")
                        <span style="color:#f00;">求救信息</span>
                        #elseif($!item.messageType=="2")
                            小报告
                        #else
                        其它
                            #end
                    </td>
                    <td>$!item.studentName</td>
                    <td>$!item.content</td>
                    <td>$!DisplayUtils.formatDateTime($item.createdAt)</td>
                </tr>
                #end
            </tbody>
        </table>
        #if($pagingInfo.list.size()>0)
            <div class="pager pager-bottom">
                #set($pageUrl="${contextPath}${servletPath}/teacher/safe?classid=$!{selclsss}&")
                #parse("teacher/module/pageer.vm")
            </div>
        #else
            <div class="Huialert Huialert-info"><i class="icon-remove"></i>暂无内容</div>
        #end
</div>