.grouppage .bar-nav{background: #327efe; color:#fff;}
.grouppage .bar-nav .title{color:#fff;}

.grouppage .list-block{margin:0.5rem 0;}
.grouppage .item-subtitle{color:#999; font-size: 0.65rem; margin-top: 0.2rem;}
.grouppage .item-title{color:#333; }
