#set($layout = "layout/teacher_layout.vm")
#set($pageTitle = "发布课件 － 我的发布")
#set($styles = ["teacher/my-publishment.css", "teacher/my-publishment-courseware.css"])
#set($scripts = ["jquery.btn-selector.js", "teacher/common.js","teacher/my-publishment.js", "teacher/courseware.js"])

<div class="dx-conwrap">
    #set($toptab="courseware")
    #parse("teacher/module/toptab.vm")
    <div class="dx-subtab">
        <ul>
            <li>
                <a href="${contextPath}/web/teacher/courseware/create">发布课件</a>
            </li>
            <li class="active">
                <a href="#">已发布</a>
            </li>
        </ul>
    </div>

    <table class="table table-border table-hover student-list">
      <thead>
        <tr>
          <th>发布时间</th>
          <th>内容</th>
          <th>布置给</th>
          <th>类型</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        #foreach($courseware in $pagingInfo.list)
          <tr>
            <td>$!{DisplayUtils.formatDateTime($$courseware.createdAt)}</td>
            <td><a href="${contextPath}/web/teacher/courseware/detail?id=$!{courseware.id}">$!{courseware.name}</a></td>
            <td>$!{courseware.classInfo.className}</td>
            <td>
              ##材料类型. 1->预习向导， 2->课堂笔记，3->课件
              #if($!{courseware.type} == 1)
                预习向导
              #elseif($!{courseware.type} == 2)
                课堂笔记
              #else
                课件
              #end
            </td>
            <td>
              <a href="${contextPath}/web/teacher/courseware/edit?id=$!{courseware.id}">编辑</a>
              <a href="javascript:void(0);" class="btn-remove-courseware" data-id="$!{courseware.id}">移除</a>
            </td>
          </tr>
        #end
      </tbody>
    </table>
    <div class="pager pager-bottom">
      $!{pagingInfo.pageNum}/$!{pagingInfo.pages}页
      #if(${pagingInfo.hasPreviousPage})
        &nbsp;<a href="${contextPath}/web/teacher/courseware/list?pageNum=$!{pagingInfo.prePage}" class="prev-page">上一页</a>
      #end
      #if($!{pagingInfo.pages} > 1)
        &nbsp;&nbsp;跳转到&nbsp;<input class="jump-page" type="number" min="1" max="$!{pagingInfo.lastPage}">&nbsp;页
      #end
      #if($!{pagingInfo.hasNextPage})
        &nbsp;&nbsp;<a href="${contextPath}/web/teacher/courseware/list?pageNum=$!{pagingInfo.nextPae}" class="next-page">下一页</a>
      #end
    </div>
</div>
