#set($layout = "layout/teacher_layout.vm")
#set($pageTitle = "教师首页")

<div class="dx-conwrap">
    <div class="dx-toptab">
        <ul>
            <li class="active"><a href="#">发布课件</a></li>
            <li><a href="#">发布作业</a></li>
            <li><a href="#">发布成绩</a></li>
            <li><a href="#">班级公告</a></li>
            <li><a href="#">课程表</a></li>
        </ul>
    </div>
    <div class="dx-subtab">
        <ul>
            <li class="active">
                <a>发布课件</a>
            </li>
            <li>
                <a>已发布</a>
            </li>
        </ul>
    </div>


    <div>
        <style>
            .dx-col{padding: 8px 0;}
            .dx-col .f-lab{ width: 130px; float: left;min-height: 10px;
            line-height: 28px; font-size: 14px; text-align: right; margin-right: 10px;}
            .dx-col .f-con{float:left; width: 500px;}
            .dx-col .dx-check{ margin-right: 10px; line-height: 28px;}
            .dx-col .dx-check input{ margin-right: 3px;}
            .dx-col .dx-select{line-height: 28px;}
        </style>
        <form method="post" enctype="multipart/form-data">
            <div class="dx-col cl">
                <label class="f-lab">
                    收件人：
                </label>
                <div class="f-con">
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                    <label class="dx-check">
                        <input type="checkbox" />初三1班
                    </label>
                </div>
            </div>

            <div class="dx-col cl">
                <label class="f-lab">
                    类型：
                </label>
                <div class="f-con">
                    <div class="dx-select">
                        <select>
                            <option>请选择课件类型</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="dx-col cl">
                <label class="f-lab">
                    标题：
                </label>
                <div class="f-con">
                    <input type="text" maxlength="20" class="input-text" placeholder="请输入标题，20字以内">
                </div>
            </div>
            <div class="dx-col cl">
                <label class="f-lab">
                    内容：
                </label>
                <div class="f-con">
                    <textarea class="textarea" placeholder="请输入内容，100字以内"></textarea>
                </div>
            </div>
            <div class="dx-col cl">
                <label class="f-lab">
                    课件：
                </label>
                <div class="f-con">
                    <span class="btn-upload form-group">
                        <input class="input-text upload-url radius" type="text" name="uploadfile-1" id="uploadfile-1" readonly="">
                        <a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont"></i> 浏览文件</a>
                        <input type="file" multiple="" name="file-1" class="input-file">
                    </span>
                </div>
            </div>
            <div class="dx-col cl">
                <label class="f-lab">
                </label>
                <div class="f-con">
                    <input class="btn radius btn-warning" type="button" value="立即发布">
                </div>
            </div>
        </form>

    </div>
</div>