#set($layout = "layout/login_layout.vm")
#set($pageTitle = "注册")
#set($styles = [])
#set($scripts = ["loginreg.js"])
<div class="lcontent">
    <div class="contentwrap">

        <div class="registerwrap">
            <div class="regform">
                <i class="regicon"></i>
                <div class="gotologin">
                    <span>已有帐号？<a href="login">马上登录</a></span>
                </div>
                <div class="regtitle">
                    老师注册
                </div>

                <div class="regformcon">
                    <div class="col">
                        <input type="text" autocomplete="off" maxlength="20" id="J_username" class="txt" placeholder="请输入手机号码" />
                    </div>
                    <div class="errormsg">

                    </div>
                    <div class="col" style="width: 300px;">
                        <input autocomplete="off" style="width: 160px;" type="text" maxlength="7" id="J_yzm" class="txt" placeholder="请输入手机验证码" />
                        <a href="javascript:;" class="yzmbtn J_yzmbtn disabled">获取验证码</a>
                    </div>
                    <div class="errormsg">

                    </div>
                    <div class="col">
                        <input autocomplete="off" type="password" maxlength="50" id="J_password" class="txt" placeholder="请输入密码" />
                    </div>
                    <div class="errormsg">

                    </div>
                    <div class="col">
                        <input autocomplete="off" type="password" maxlength="50" id="J_passwordagain" class="txt" placeholder="请再次输入密码" />
                    </div>
                    <div class="errormsg">

                    </div>

                    <div>
                        <a href="javascript:;" id="J_reg" class="logbtn">注册</a>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>
