.selclass{padding: 10px 0; text-align: left;}

.dx-col{padding: 8px 0;}
.dx-col .f-lab{ width: 130px; float: left;min-height: 10px;
    line-height: 28px; font-size: 14px; text-align: right; margin-right: 10px;}
.dx-col .f-con{float:left; width: 500px;}
.dx-col .dx-check{ margin-right: 10px; line-height: 28px;}
.dx-col .dx-check input{ margin-right: 3px;}
.dx-col .dx-select{line-height: 28px;}

.errormsg{color:#f00; padding: 8px 0 0;}
.nocourse{margin-left:20px; color:#999;}
.fmust{color:#f00;}